.profilePicture{
    width: 100%;
    height: auto;
    /* visibility: hidden; */
    /* border: 10px solid black; */
    opacity: 90%;
    padding: 0px;
    margin: 0px;
}

#div1{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color:#1E5162;
    color: white;
}

.heading1{
margin: 3% 5% 3% 5%;

}

.card{
    display: inline-block;
    border: none;
    background-color: #1E5162;
   
}

.right{
    margin-top: 5%;
    margin-bottom: 5%;
}

 @media (min-width: 992px) { 
    .right{

        margin-left: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
        /* border-radius: 10%; */
        /* margin: 5% 0%; */
     } 
  }


 .left:hover{
    opacity: 50%;
 } 

 .right:hover{
    opacity: 50%;

 }

 .card-img-top{
    border-radius: 5%;
 }

 